@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    background-color: lightgray;
}

header {
    background-color: gray;
}

header > h1{
    padding: 10px;
    text-align: center;
}

#burguer {
 background-color: rgb(53, 53, 53);
 display: block;
 color: white;
 text-align: center;
 padding: 10px;
 cursor: pointer;
}

#burguer:hover {
    background-color: white;
    color: black;
}

nav {
    display: none;
}

ul{
    list-style-type: none;
    text-align: center;
}

a{
    display: block;
    padding: 10px;
    text-decoration: none;
    background-color: rgb(90, 90, 90);
    color: white;
    border: 1px solid rgba(0, 0, 0, 0.253);
}

a:hover {
    background-color: gray;
}

main {
    width: 90vw;
    background-color: white;
    margin: auto;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
}

article > h2 {
    padding-bottom: 20px;
}

article > p {
    text-align: justify;
    margin-bottom: 10px;
    text-indent: 20px;
}