.container {
    display: grid;
    grid-template-rows: repeat(3, 100px);
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}

.caixa1 {
    background-color: rgb(102, 51, 153);
    grid-area: 1 / 1 / span 1 / span 4;
}

.caixa2 {
    background-color: rgb(51, 54, 153);
    grid-area: 2 / 1 / -1 / 3;
}

.caixa3 {
    background-color: rgb(141, 51, 153);
    grid-area: 2 / 3 / -1 / -1;
}