@charset "UTF-8";

* { 
    padding: 0;
    margin: 0; 
    box-sizing: border-box; 
} 

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: lightgrey;
}

header {
    background-color: gray;
    color: white;
    padding: 10px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
}

header > h1 {
    /* border: 1px dotted black; */
    flex:  0 0 200px;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.286);
}

nav {
    /* border: 1px dotted black; */
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
}

nav > a {
    background-color: black;
    color: white;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
}

nav > a:hover {
    background-color: white;
    color: black;
    transition: background-color .5s;
}

main {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.146) ;
}